.Footer-icon{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.5em;
}

a:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .Footer-icon{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 3em;
    }
}
@media (min-width: 768px) {
    .Footer-icon{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 2.5em;
    }
}
@media (min-width: 992px) {
    .Footer-icon{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 2em;
    }
}
@media (min-width: 1200px) {
    .Footer-icon{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 1.5em;
    }
}
