.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	background-color: #F1F1F1;
	padding: 10px;
}

.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px 20px;
	text-align: left;
}

.item1 {
	grid-row-start: 1;
	grid-row-end: 3;
}
.item2, .item3 {
	grid-column-start: 2;
	grid-column-end: 4;
}