.Languages-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.Languages-FontAwesomeIcon{
    padding-right: 15px;
}

.progress-bar{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.progress{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}