.Skill-bg {
    position: absolute;
    height: 10%;
    width: 80px;
    opacity: 0;
    color: #fafafa;
    font-size: 13px;
    border-bottom: 8px solid black;
    transition: opacity 0.25s;
    z-index: 1;
    background: #2ecc7166; 
    background: -webkit-linear-gradient(65deg, rgba(47,128,237, 0.4), rgba(86,204,242, 0.4));
    background: linear-gradient(65deg, rgba(47,128,237, 0.4), rgba(86,204,242, 0.4));
}
.Skill-bg:hover {
    opacity: 1;
}
.Skill-text{
    text-align: center;
}
.Skill-img{
    padding-top: 15px;
}