
.Skills-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.Skills-Fontawesome-icon{
    padding-right: 15px;
}
.Skill-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Skill-margins{
    padding: 10px;
}
